<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/home/register.js" defer></script>
  <link rel="stylesheet" href="/css/home/login.css" />
  <title>login-lecture</title>
</head>

<body>
  <div class="login-container">
    <input id="id" type="text" placeholder="아이디" /><br />
    <input id="name" type="text" placeholder="이름" /><br />
    <input id="psword" type="password" placeholder="비밀번호" />
    <input id="confirm-psword" type="password" placeholder="비밀번호 확인" /><br /><br />
    <button>회원가입</button>
    <p class="message">회원이신가요?<a href="/login">로그인</a></p>
  </div>

</html>